<div class="jumbotron">
  <h2>Welcome to Vote Local <%= current_user.username %>!</h2> <br>

  <div>
    <h3 class="representatives" >Followed Representatives </h3>

    <% if !current_user.twitter_reps.empty? %>
      <% current_user.twitter_reps.each do |twitter_rep| %>
        <%= twitter_rep.name  %> <br>
        <% end %>
    <% else %>
      <p>Currently not following any Representatives</p>
    <% end %>
  </div>

  <div class="tweets">
    <% @representative_tweets[:data].each do |tweet| %>
      <%= tweet[:text]  %> <br>
    <% end %>
  </div>

</div>
