---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/2/users/1399770258081128450/tweets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAFYBQQEAAAAAW1YagcoiGVtflujyI5PpTvTH7po%3D0wAQTxkj8IXFcLt6gwdEtsy05GEFvDmMGkr6iOqsb2croUirgS
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 217699d3fc54e2c93f2115f08853245b
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1497'
      X-Rate-Limit-Reset:
      - '1623356902'
      X-Response-Time:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"1403080028456308737","text":"Lets learn about our local
        reps!"},{"id":"1403079918599098372","text":"Created by: Andrew Shafer, Keegan
        O''Shea, Harrison Blake, and Wyatt Wicks"},{"id":"1403079249859207168","text":"Welcome
        to Vote Local!"},{"id":"1403078978181558275","text":"Project almost done!"}],"meta":{"oldest_id":"1403078978181558275","newest_id":"1403080028456308737","result_count":4}}'
  recorded_at: Thu, 10 Jun 2021 20:14:46 GMT
recorded_with: VCR 6.0.0
