---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/2/users/1/tweets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAFYBQQEAAAAACiSDxe%2BxOGYIKX%2BaZ6uDJmvu%2BiI%3DGXPwziMrc5NqPR88Khnv1iSDEeXRUn3Ljwx7MvCVzthmUr6E8Y
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Reset:
      - '1623210329'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '1498'
      X-Connection-Hash:
      - 7e6a714d07b5b41df8b090a9f733c23aa11b2cdb2b631964e5ddc439d51e3dad
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"value":"1","detail":"Could not find user with id: [1].","title":"Not
        Found Error","resource_type":"user","parameter":"id","resource_id":"1","type":"https://api.twitter.com/2/problems/resource-not-found"}]}'
  recorded_at: Wed, 09 Jun 2021 03:31:52 GMT
recorded_with: VCR 6.0.0
