---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/2/users/1/tweets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAFYBQQEAAAAACiSDxe%2BxOGYIKX%2BaZ6uDJmvu%2BiI%3DGXPwziMrc5NqPR88Khnv1iSDEeXRUn3Ljwx7MvCVzthmUr6E8Y
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Reset:
      - '1623295872'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '1497'
      X-Connection-Hash:
      - 135a50dc5c1583e6dc28c34cd6184ead3f4c5de094b5523b20a33773d0bf790d
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"value":"1","detail":"Could not find user with id: [1].","title":"Not
        Found Error","resource_type":"user","parameter":"id","resource_id":"1","type":"https://api.twitter.com/2/problems/resource-not-found"}]}'
  recorded_at: Thu, 10 Jun 2021 03:16:13 GMT
recorded_with: VCR 6.0.0
