---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/2/users/by/username/jaredpolis
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAFYBQQEAAAAACiSDxe%2BxOGYIKX%2BaZ6uDJmvu%2BiI%3DGXPwziMrc5NqPR88Khnv1iSDEeXRUn3Ljwx7MvCVzthmUr6E8Y
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Reset:
      - '1623188133'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '299'
      X-Connection-Hash:
      - a5ce197bc6866ec33fedea86d4926650551d802013c450337c68031cd2b83241
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"15361570","name":"Jared Polis","username":"jaredpolis"}}'
  recorded_at: Tue, 08 Jun 2021 21:20:34 GMT
recorded_with: VCR 6.0.0
