---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/2/users/by/username/jaredpolis
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAFYBQQEAAAAAW1YagcoiGVtflujyI5PpTvTH7po%3D0wAQTxkj8IXFcLt6gwdEtsy05GEFvDmMGkr6iOqsb2croUirgS
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Reset:
      - '1623367298'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '292'
      X-Connection-Hash:
      - afbf8f3db93a7a5a5318530719e0d5f2c0d07cdedef74dd486e153103bbf56fd
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"15361570","name":"Jared Polis","username":"jaredpolis"}}'
  recorded_at: Thu, 10 Jun 2021 23:07:08 GMT
recorded_with: VCR 6.0.0
