---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/2/users/by/username/jaredpolis
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAFYBQQEAAAAACiSDxe%2BxOGYIKX%2BaZ6uDJmvu%2BiI%3DGXPwziMrc5NqPR88Khnv1iSDEeXRUn3Ljwx7MvCVzthmUr6E8Y
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Reset:
      - '1623208317'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '298'
      X-Connection-Hash:
      - '0138073fc7d781e0ed2e1b105e00d901cfaf580600f753307c820f79188b9727'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"15361570","name":"Jared Polis","username":"jaredpolis"}}'
  recorded_at: Wed, 09 Jun 2021 03:07:14 GMT
recorded_with: VCR 6.0.0
