---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/2/users/by/username/jaredpolis
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAFYBQQEAAAAACiSDxe%2BxOGYIKX%2BaZ6uDJmvu%2BiI%3DGXPwziMrc5NqPR88Khnv1iSDEeXRUn3Ljwx7MvCVzthmUr6E8Y
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 192598c58fa5f03561daade61feb62c9
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '294'
      X-Rate-Limit-Reset:
      - '1623295106'
      X-Response-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"15361570","name":"Jared Polis","username":"jaredpolis"}}'
  recorded_at: Thu, 10 Jun 2021 03:16:13 GMT
recorded_with: VCR 6.0.0
