---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/2/users/by/username/testnametwitter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAFYBQQEAAAAACiSDxe%2BxOGYIKX%2BaZ6uDJmvu%2BiI%3DGXPwziMrc5NqPR88Khnv1iSDEeXRUn3Ljwx7MvCVzthmUr6E8Y
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Reset:
      - '1623295106'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '296'
      X-Connection-Hash:
      - 82fe2450fd4ec60815ba6be0238be9f7ea66eeab3879a60c3721bfedc268b365
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"value":"testnametwitter","detail":"Could not find user
        with username: [testnametwitter].","title":"Not Found Error","resource_type":"user","parameter":"username","resource_id":"testnametwitter","type":"https://api.twitter.com/2/problems/resource-not-found"}]}'
  recorded_at: Thu, 10 Jun 2021 03:16:12 GMT
recorded_with: VCR 6.0.0
