/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";


.dash-section {
  border-bottom: 2px solid black;
  width: 24%;
}

.welcome-images {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.right-image {
  float: right;
}

.welcome-bottom {
  background:url("https://media.gettyimages.com/videos/capitol-building-washington-district-of-columbia-video-id1158952104?s=640x640");
}

.reps {
  text-align: left;
}

.tweets {
  float: right;
  text-align: left;
}
